{% extends "base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" href="{%static 'deps/css/create_order.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
{% block content %}
    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
        
        <!-- Детали заказа -->
        <div class="container">
            <h3 class="text_head">Оформление заказа</h3>
            <div class="card mb-3">
                <div class="card-body">
                    <form action="{% url 'orders:create_order' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="id_first_name" class="textdesc ">Имя:</label>
                            </div>
                        
                            <input type="text" class="circle " id="id_first_name"
                                    value="{% if form.first_name.value %}{{form.first_name.value}}{% endif %}"
                                    name="first_name" required>
                                    {% if form.first_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                                    {% endif %}

                            
                            <div class="col-md-6 mb-3">
                                <label for="id_last_name" class="textdesc">Фамилия:</label>
                                
                            </div>
                            <input type="text" class="circle" id="id_last_name" name="last_name"
                                   value="{% if form.last_name.value %}{{form.last_name.value}}{% endif %}"
                                   required>
                                    {% if form.last_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                                    {% endif %}
                            <div class="col-md-6 mb-3">
                                <label for="id_phone_number" class="textdesc">Номер телефона:</label>
                            </div>
                            <input type="text" class="circle" id="id_phone_number" name="phone_number"
                                   value="{% if form.phone_number.value %}{{form.phone_number.value}}{% endif %}"
                                    placeholder="В формате: XXX-XXX-XX-XX"
                                    required>
                                    {% if form.phone_number.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.phone_number.errors}}</div>
                                    {% endif %}
                            <div class="col-md-12 mb-3">
                                <label for="delivery" class="textdesc">Способ доставки: </label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="requires_delivery"
                                        id="id_requires_delivery" value="1" checked>
                                    <label class="form-check-label" for="id_requires_delivery">Нужна
                                        доставка</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="requires_delivery"
                                        id="id_requires_delivery" value="0">
                                    <label class="form-check-label" for="id_requires_delivery">Самовывоз</label>
                                </div>
                            </div>
                            <div class="mb-3" id="deliveryAddressField">
                                <label for="id_delivery_address" class="textdesc">Адрес
                                    доставки:</label>
                               
                            </div>
                             <textarea class="form-control" id="id_delivery_address"
                                  value="{% if form.delivery_address.value %}{{form.delivery_address.value}}{% endif %}"
                                    name="delivery_address" rows="2"></textarea>
                                    {% if form.delivery_address.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.delivery_address.errors}}</div>
                                    {% endif %}
                            <div class="col-md-12 mb-3">
                                <label class="textdesc">Способ оплаты: </label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="payment_on_get"
                                        id="id_payment_on_get" value="0" checked>
                                    <label class="form-check-label" for="id_payment_on_get">Оплата
                                        картой</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="payment_on_get"
                                        id="id_payment_on_get" value="1">
                                    <label class="form-check-label" for="id_payment_on_get">Наличными/картой
                                        при плучении</label>
                                    {% if form.payment_on_get.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.payment_on_get.errors}}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark">Оформить заказ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer-container">
        <p class="logo_foot">La Sharm</p>
            <div class="footer-catalog">
                <h3>Каталог</h3>
                <ul>
                    <a href="http://127.0.0.1:8000/catalog/ukrasheniya-na-sheyu/" class="footer-href">
                        <li>Украшения на шею</li>
                    </a>
                    <a href="http://127.0.0.1:8000/catalog/sergi/" class="footer-href">
                        <li>Серьги</li>
                    </a>
                    <a href="http://127.0.0.1:8000/catalog/braslety/" class="footer-href">
                        <li>Браслеты</li>
                    </a>
                    <a href="http://127.0.0.1:8000/catalog/broshi/" class="footer-href">
                        <li>Броши</li>
                    </a>
                </ul>
            </div>
            <div class="customers">
                <h3>Покупателям</h3>
                <ul>
                    <li><a class="footer-href" href="{% url 'main:about' %}">О нас</a></li>
                    <li><a class="footer-href" href="#">Доставка и оплата</a></li>
                    <li><a class="footer-href" href="#">Отзывы</a></li>
                </ul>
            </div>
            <div class="contacts">
                <h3>Контакты</h3>
                <p>+7 (965) 622-73-33</p>
                <p>edalinjewelry@gmail.com</p>

                <div class="social">
                    <p>Cоц. сети</p>
                    <div class="social-icons">
                        <a href="https://vk.com/la_sharm_jewellery" class="cherta">
                            <img src="{%static 'deps/icons/vk.svg' %}"  alt="" class="">
                        </a>
                        <a href="#" class="cherta">
                            <img src="{%static 'deps/icons/tg.svg' %}"  alt="">
                        </a>
                        <a href="#" class="cherta">
                            <img src="{%static 'deps/icons/wa.svg' %}"  alt="">
                        </a>
                    </div>
                </div>
            </div>
</div> 
{% endblock %}