{% extends "base.html" %}
{% load static %}

<head>
   
    <!-- <link rel="stylesheet" href="{%static 'deps/css/profile.css' %}"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'deps/css/bootstrap/bootstrap.min.css' %}">
     <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">  -->

</head>
<body>
{% block contentprofile %}


    <div class="row">
            <div class="row">
                <!-- Профиль с данными пользователя -->
                <div class="">
                    <div class=" ">
                        <h3 class=" text_head"> Мои данные</h3>
                        <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="row ">
                                <div class=" text-center  ">
                                    {% if user.image %}
                                        <img src="{{ user.image.url }}"
                                        alt="Аватар пользователя" class="locpict"
                                        style="max-width: 150px;">
                                    {% else %}
                                        <img src="{% static 'deps/images/baseavatar.jpg' %}"
                                        alt="Аватар пользователя" class="locpict "
                                        style="max-width: 150px;">
                                    {% endif %}
                                    <div class=" loccho">
                                        <input type="file" class=" " id="id_image"
                                           name = 'image'
                                        accept="image/*">
                                    </div>
                                    
                                    {% if form.image.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{form.image.errors}}</div>
                                        {% endif %}
                                </div>
                                <div class=" conrentright">
                                    <div class="">
                                        <label for="id_first_name" class="textdesc">Имя</label>
                                    </div>
                                    <div class="contentright">
                                        <input type="text" class="circle" id="id_first_name"
                                               name = "first_name"
                                               value="{{ form.first_name.value }}"
                                               required>
                                            {% if form.first_name.errors %}
                                            <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                                            {% endif %}
                                    </div>
                                    <div class=" ">
                                        <label for="id_last_name" class=" textdesc">Фамилия</label>
                                    </div>
                                    <div class="contentright">
                                        <input type="text" class="circle" id="id_last_name"
                                               name = "last_name"
                                             value="{{form.last_name.value}}" required>
                                            {% if form.last_name.errors %}
                                            <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                                            {% endif %}
                                    </div>
                                    <div class=" ">
                                        <label for="id_username" class="textdesc">Имя пользователя</label>
                                    </div>
                                    <div class="contentright">
                                        <input type="text" class="circle" id="id_username"
                                               name = "username"
                                             value="{{form.username.value}}" required>
                                            {% if form.username.errors %}
                                            <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                                            {% endif %}
                                    </div>
                                    <div class=" ">
                                        <label for="id_email" class="textdesc">Email</label>
                                    </div>
                                    <div class="contentright">
                                        <input type="email" class=" circle" id="id_email"
                                               name = "email"
                                            value="{{form.email.value}}"
                                            required>
                                            {% if form.email.errors %}
                                            <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                                            {% endif %}
                                    </div>
                                
                                <button type="submit" class="flexbuttonsave circlebuttonfontsave ">Сохранить изменения</button>
                                <!-- <button type="submit" class=" flexbuttonlog circlebuttonfontlog " href="{% url 'users:logout' %}">Выйти</button> -->

                                </div>
                            
                            
                        </form>
                    </div>
                </div>

            
                <!-- Оформленные заказы -->
                        <h3 class="locorder text_head">Заказы</h3>
                        <!-- Разметка заказов -->
                        <div class="">
                            <div class="accordion" id="accordionExample">
                                {% for order in orders %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading{{ order.id }}">
                                        <button class="accordion-button {% if order != orders.0 %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}" aria-expanded="false" aria-controls="collapse{{ order.id }}">
                                            Заказ № {{ order.id }} - {{ order.created_timestamp }} | Статус: <strong class="mx-2">{{order.status}}</strong>
                                        </button>
                                    </h2>
                                    <div id="collapse{{ order.id }}" class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}" aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Товар</th>
                                                        <th>Количество</th>
                                                        <th>Цена</th>
                                                        <th>Общая стоимость</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in order.orderitem_set.all %}
                                                    <tr>
                                                        <td><a class="text-black" href="{% url 'goods:product' item.product.slug %}">{{ item.product.name }}</a></td>
                                                        <td>{{ item.quantity }}</td>
                                                        <td>{{ item.price }}</td>
                                                        <td>{{ item.products_price }}</td>
    
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                
            </div>
        
    </div>
 
{% endblock %}

{% block footer %}
    <div class="footer-container">
        <p class="logo_foot">La Sharm</p>
            <div class="footer-catalog">
                <h3>Каталог</h3>
                <ul>
                    <a href="http://127.0.0.1:8000/catalog/ukrasheniya-na-sheyu/" class="footer-href">
                        <li>Украшения на шею</li>
                    </a>
                    <a href="http://127.0.0.1:8000/catalog/sergi/" class="footer-href">
                        <li>Серьги</li>
                    </a>
                    <a href="http://127.0.0.1:8000/catalog/braslety/" class="footer-href">
                        <li>Браслеты</li>
                    </a>
                    <a href="http://127.0.0.1:8000/catalog/broshi/" class="footer-href">
                        <li>Броши</li>
                    </a>
                </ul>
            </div>
            <div class="customers">
                <h3>Покупателям</h3>
                <ul>
                    <li><a class="footer-href" href="{% url 'main:about' %}">О нас</a></li>
                    <li><a class="footer-href" href="#">Доставка и оплата</a></li>
                    <li><a class="footer-href" href="#">Отзывы</a></li>
                </ul>
            </div>
            <div class="contacts">
                <h3>Контакты</h3>
                <p>+7 (965) 622-73-33</p>
                <p>edalinjewelry@gmail.com</p>

                <div class="social">
                    <p>Cоц. сети</p>
                    <div class="social-icons">
                        <a href="https://vk.com/la_sharm_jewellery" class="cherta">
                            <img src="{%static 'deps/icons/vk.svg' %}"  alt="" class="">
                        </a>
                        <a href="#" class="cherta">
                            <img src="{%static 'deps/icons/tg.svg' %}"  alt="">
                        </a>
                        <a href="#" class="cherta">
                            <img src="{%static 'deps/icons/wa.svg' %}"  alt="">
                        </a>
                    </div>
                </div>
            </div>
</div> 
{% endblock %}


<script src="{%static 'deps/js/jquery/jquery-3.7.0.min.js' %}"></script>
<script src="{%static 'deps/js/jquery-ajax.js' %}"></script>
<script src="{%static 'deps/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>
