<!DOCTYPE html>
{% load static %}
{% load goods_tags %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'deps/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'deps/css/my_css.css' %}">

   

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- Стиль footer-a для главной страницы -->
    {% block css%}

    {% endblock %}
    <!-- Favicons for different platforms -->
    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'deps/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'deps/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'deps/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{%static 'deps/favicon/site.webmanifest' %}">
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <div class="top-bar">
            <div class="left">
                {% if not user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link  text-white text-shapka" href="{% url 'users:login' %}">
                        <img src="{%static 'deps/icons/user.svg' %}" alt="People">
                        Вход/регистрация
                    </a>
                </li>
                {% else %}
                <li class="nav-item dropdown ">
                    <div class="dropdown">
                        <button class="dropbtn nav-link  text-white text-shapka">
                            <img src="{%static 'deps/icons/user.svg' %}" alt="People">
                            Мой профиль
                        </button>
                        <div class="dropdown-content text-shapka-drop">
                            <a href="{% url 'users:profile' %}">Личный кабинет</a>
                            {% if user.is_admin or user.is_staff %}
                            <a href="{% url 'admin:index' %}">Админ панель</a>    
                            {% endif %}
                            <a href="{% url 'users:logout' %}">Выйти</a>
                        </div>
                    </div>
                {% endif %}
                </li>
                <form class="d-flex" role="search" action="{% url 'catalog:search' %}" method="get">
                    <div class="input-group">
                        <input class="form-control search" type="search" name="q" placeholder="Поиск" aria-label="Поиск">
                        <button class="btn btn-outline-success text-white btn_search" type="submit">
                            <img src="{%static 'deps/icons/search.svg' %}" alt="search">
                        </button>
                    </div>
                </form>
                <!-- Корзина -->
                {% block modal_cart %}{% endblock %}
            </div>
        </div>
        <nav class="main-nav">
            <a href="{% url 'main:index' %}" class="logo">La Sharm</a>
            <div class="dropdown">
                <button class="dropbtn btn-catalog text-shapka">Каталог</button>
                <div class="dropdown-content text-shapka-drop">
                    {% tag_categories as categories %}
                    {% for category in categories %}
                        <li><a class="" href="{% url 'catalog:index' category.slug %}">{{category.name}}</a></li>
                    {% endfor %}
                </div>
            </div>
            <a class="text-shapka" href="{% url 'main:about' %}">О нас</a>
            <a class="text-shapka" href="{% url 'main:delivery' %}">Доставка</a>
            <a class="text-shapka" href="#">Отзывы</a>
        </nav>
    </header>

    <section>
        <!-- Контент -->
        <div class="container">
                <div class="">
                    <!-- Контент на странице -->
                    {% include "includes/notifications.html" %}
                    {% block content %}{% endblock %}
                    {% block contentprofile %}{% endblock %}
                </div>
        </div>
    </section>

    


    {% block footer %}{% endblock %}
    <script src="{%static 'deps/js/jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="{%static 'deps/js/jquery-ajax.js' %}"></script>
    <script src="{%static 'deps/js/bootstrap/bootstrap.bundle.min.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>