{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}

<div class="catalog">
    <p>Каталог</p>
</div>

<div class="catalog-container">
    <div class="filter-box">
        <h5 class="filter-title">ФИЛЬТР</h5>
        <form action="{% if request.GET.q %}{% url 'catalog:search' %}{% else %}{% url 'catalog:index' slug_url %}{% endif %}" method="get">
            <div class="filter-item">
                <input class="filter-checkbox" type="checkbox" name="on_sale" id="onSaleCheckbox" value="on" {% if request.GET.on_sale == "on" %} checked {% endif %}>
                {% if request.GET.q %}
                    <input type="hidden" name="q" value="{{request.GET.q}}">
                {% endif %}
                <label class="filter-label" for="onSaleCheckbox">Товары по акции</label>
            </div>
            <p class="sort-title">СОРТИРОВАТЬ:</p>
            <div class="filter-item">
                <input class="filter-radio" type="radio" name="order_by" id="defaultSort" value="default" {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{%endif%}>
                <label class="filter-label" for="defaultSort">По умолчанию</label>
            </div>
            <div class="filter-item">
                <input class="filter-radio" type="radio" name="order_by" id="priceAscSort" value="price" {% if request.GET.order_by == "price" %}checked{%endif%}>
                <label class="filter-label" for="priceAscSort">От дешевых к дорогим</label>
            </div>
            <div class="filter-item">
                <input class="filter-radio" type="radio" name="order_by" id="priceDescSort" value="-price" {% if request.GET.order_by == "-price" %}checked{%endif%}>
                <label class="filter-label" for="priceDescSort">От дорогих к дешевым</label>
            </div>
            <button type="submit" class="apply-filter-btn">Применить</button>
        </form>
    </div>

    {% if request.GET.q %}
        <h3 class="search-results-title">Результаты поиска по запросу {{ request.GET.q }}</h3>
        {% if not goods %}
            <link rel="stylesheet" href="{%static 'deps/css/my_footer_css.css' %}">
            <h2 class="no-results-title">По запросу ничего не найдено</h2>
        {% endif %}
    {% endif %}

    <div class="products-container">
        {% for product in goods %}
        <div class="product-card">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="product-image" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'deps/images/Not found image.png' %}" class="product-image" alt="...">
            {% endif %}
            <div class="product-card-content">
                <a href="{% url 'catalog:product' product.slug %}" class="product-link">
                    <p class="product-name">
                        {% autoescape off %}
                            {% if product.headline %}
                                {{ product.headline }}
                            {% else %}
                                {{ product.name }}
                            {% endif %}
                        {% endautoescape %}
                    </p>
                </a>
                <p class="product-id">id: {{ product.display_id }}</p>
                <div class="product-price">
                    {% if product.discount %}
                        <p class="old-price"><s>{{ product.price }}</s><strong>₽</strong></p>
                        <p class="new-price"><strong>{{ product.sell_price }}</strong><strong>₽</strong></p>
                        <span class="discount-label">Скидка {{ product.discount }} %</span>
                    {% else %}
                        <p class="price"><strong>{{ product.price }}</strong><strong>₽</strong></p>
                    {% endif %}
                    <a href="{% url 'cart:cart_add' %}" class="btn add-to-cart" data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        <img class="cart-icon" src="{% static 'deps/icons/shopping-cart-black.svg' %}" alt="Cart Icon" width="32" height="32">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


    <!-- Пагинация -->
    {% if goods %}
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center my-4">
            <div class="custom-shadow d-flex">
                <li class="page-item {% if not goods.has_previous %} disabled {% endif %}">
                    <a class="page-link" href="{% if goods.has_previous %}?{% change_params page=goods.previous_page_number %}{%else%}#{% endif %}">Назад</a>
                </li>

                {% for page in goods.paginator.page_range %}
                {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                    <li class="page-item {% if goods.number == page %} active {% endif %}">
                        <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                    </li>
                {% endif %}
                {% endfor%}

                <li class="page-item {% if not goods.has_next %} disabled {% endif %}">
                  <a class="page-link" href="{% if goods.has_next %} ?{% change_params page=goods.next_page_number %}{%else%}#{% endif %}">Следующая</a>
                </li>
            </div>
        </ul>
        </nav>
    {% endif %}
{% endblock %}


{%block footer%}
<div class="footer-container">
    <p class="logo_foot">La Sharm</p>
        <div class="footer-catalog">
            <h3>Каталог</h3>
            <ul>
                <a href="http://127.0.0.1:8000/catalog/ukrasheniya-na-sheyu/" class="footer-href">
                    <li>Украшения на шею</li>
                </a>
                <a href="http://127.0.0.1:8000/catalog/sergi/" class="footer-href">
                    <li>Серьги</li>
                </a>
                <a href="http://127.0.0.1:8000/catalog/braslety/" class="footer-href">
                    <li>Браслеты</li>
                </a>
                <a href="http://127.0.0.1:8000/catalog/broshi/" class="footer-href">
                    <li>Броши</li>
                </a>
            </ul>
        </div>
        <div class="customers">
            <h3>Покупателям</h3>
            <ul>
                <li><a class="footer-href" href="{% url 'main:about' %}">О нас</a></li>
                <li><a class="footer-href" href="#">Доставка и оплата</a></li>
                <li><a class="footer-href" href="#">Отзывы</a></li>
            </ul>
        </div>
        <div class="contacts">
            <h3>Контакты</h3>
            <p>+7 (965) 622-73-33</p>
            <p>edalinjewelry@gmail.com</p>

            <div class="social">
                <p>Cоц. сети</p>
                <div class="social-icons">
                    <a href="https://vk.com/la_sharm_jewellery" class="cherta">
                        <img src="{%static 'deps/icons/vk.svg' %}"  alt="" class="">
                    </a>
                    <a href="#" class="cherta">
                        <img src="{%static 'deps/icons/tg.svg' %}"  alt="">
                    </a>
                    <a href="#" class="cherta">
                        <img src="{%static 'deps/icons/wa.svg' %}"  alt="">
                    </a>
                </div>
            </div>
        </div>
</div>
{% endblock %}