{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{%block content%}

<div class="catalog-card">
    <!-- Изображение товара -->
    <div class="product-image-card">
        <img src="{{ product.image.url }}" class="" alt="{{ product.name }}" data-bs-toggle="modal" data-bs-target="#imageModal{{ product.id }}">
    </div>

    <!-- Контейнер для текста и кнопки -->
    <div class="product-info-card">
        <!-- Описание товара -->
        <p class="product-name-card">{{ product.name }}</p>
        <p class="product-price-card"><strong>{{ product.sell_price }} ₽</strong></p>
        <p class="product-description-card">{{ product.description }}</p>

         <!-- Кнопка -->
        <div class="card-btn-add-card">
            <a href="{% url 'cart:cart_add' %}" class="add-to-cart" data-product-id="{{product.id}}">
                {% csrf_token %}
                Добавить в корзину
            </a>
        </div>
    </div>
    

    <!-- Модальное окно -->
    <div class="modal fade" id="imageModal{{ product.id }}" tabindex="-1" aria-labelledby="imageModalLabel{{ product.id }}" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel{{ product.id }}">{{ product.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                </div>
            </div>
        </div>
    </div>
</div>
        

{%endblock%}